<!DOCTYPE html>
<html>
<head>

{{!-- <link rel="stylesheet" href="./css/style.css"> --}}
    {{!-- <script src="./js/app.js"></script> --}}

</head>

<body>
    {{!-- {{>2ndpartial}} --}}
    
    {{>header}}

    <h1>this is coming from help.hbs:</h1>
    <h1>{{title}}</h1>
    <p>Created by {{name}}</p>

</body>


</html>